#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    font-family: Verdana, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
}

/* Hide slides at first */
.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    padding: 18px;

}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

tbody tr:nth-child(odd) {
  background-color: #f0ffff; 
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table {
    position: relative;
    margin: auto;
    align-items: center;
}

td 
{
    height: 100px; 
    width: 250px;
    text-align: center; 
    vertical-align: middle;
}

