#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center; 
}

body {
    text-align: center; 
    font-family: "Gill Sans", sans-serif;
    border: 4px solid  skyblue;
    border-radius: 20px;
}

h1 {
    font-family: "Montserrat", sans-serif; 
    color: steelblue;
}

li {
    text-align: left;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
}

/* Hide slides at first */
.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    padding: 18px;

}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

tbody tr:nth-child(odd) {
  background-color: aliceblue;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.table {
    position: relative;
    margin: auto;
    align-items: center;
}

td 
{
    height: 60px; 
    width: 250px;
    text-align: center; 
    vertical-align: middle;
}

iframe {
    height: 400px; 
    width: 700px;

}